#login-section{
    padding-right: 30px;
    padding-left: 30px;
}
#register-section{
    padding-right: 30px;
    padding-left: 30px;
}
#todo-items-unchecked, #todo-items-checked {
    list-style: none;
}
.page-header{
    padding-left: 10px;
    font-weight: 700;
}
#container-footer {
    padding-top: 15px;
}
p.col-md-6{
    margin: 0;
}
small{
    float: right;
    margin-top: 25px;
}
#suggestion{
    background: #999;
    text-align: center;
}
ul{
    padding:0;
    list-style-type: none;

}

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#sharing{
    margin-top: 60px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: inset 0 1px 0 rgba(255,255,255,.25),0 1px 2px rgba(0,0,0,.05);
    background-image: linear-gradient(to bottom,#f0ad4e 0,#eea236 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0ad4e', endColorstr='#eea236', GradientType=0);
    background-repeat: repeat-x;
    border-color: #eea236;
}
.checkbox-inline, .radio-inline{
    cursor: default;
}
.checkbox-inline label{
    cursor: pointer;
}
#edit{
    margin-top: 60px;
}
.btn-group.pull-right{
    margin-right: 20px;
}
.btn-default{
    background-image:none;
}
#new-todo-item-form{
    margin-bottom: 10px;
}
#new-list-form{
    margin-bottom: 10px;
}
a#new-list-link{
    margin-bottom: 10px;
}
ul#my-lists{
    margin-top: 10px;
}
.owner{
    float: none;
    margin: 0;
}
ul#shared-lists{
    margin-top: 64px;
}
.list-group {
    padding: 0 15px;
}
/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 50px;
    font-family: 'Roboto', sans-serif;

}
.footer {
    border-top: 1px solid #eee;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 50px;
    /*background-color: #f5f5f5;*/
}
